.btn{
    background-color: aqua;
    border-radius: 5px;
}
.delete{
    color: #fffdfd;
background-color: red;
border-radius: 5px;

float: right;
}
li{
    border-width: 1px;
    border-style: dotted;
    background-color: rgb(237, 235, 235);
    padding:10px;
    
}
.container{
 border-width: 2px;
 border-style: solid;
background-color: rgb(209, 209, 209);
}
.card{
    margin: 5%;
}